h1 {
  font-family: 'Lucida Handwriting';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.container {
  padding-top: 20px;
  font-family: 'Lucida Sans';
  box-align: center;
}

img {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.intro {
  font-size: 17px;
}

.job {
  color: rgb(8, 141, 141);
  font-weight: bold;
}

ul {
  font-size: 16px;
}

.projects {
  padding-top: 15px;
  font-size: 16px;
}
