body {
  border-left: 4px solid #385a7c;
  border-right: 4px solid #385a7c;
  border-bottom: 6px solid #385a7c;
  margin-left: 11%;
  margin-right: 11%;
  align-items: center;
}

.jumbotron {
  background-color: #385a7c;
  color: #f5f5f5;
  font-family: 'Lucida Handwriting';
  font-size: 43px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  font-family: 'Lucida Sans';
  background-color: #eed3d3;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 7%;
  padding-left: 7%;
  width: 100%;
}

img {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
} 

.intro {
  font-size: 17px;
}

.job {
  color: rgb(8, 141, 141);
  font-weight: bold;
}

ul {
  font-size: 16px;
}

.projects {
  padding-top: 15px;
  font-size: 16px;
}
 