h1 {
  font-family: 'Lucida Handwriting';
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 18px;
}

ul {
  font-size: 17px;
}

.image {
  float: left;
  padding: 20px;
  padding-left: 50px;
}

.container {
  padding-top: 20px;
  font-family: 'Lucida Sans';
}
